/* GENERAL SETUP, COLORS AND FONTS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto Mono', monospace;
    background-color: white;
}

body {
    font-size: 1.6rem;
    text-align: center;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.5s, color 0.5s;
}

.about {
    text-align: start;
    line-height: 1.6;
}

.projectCARS a:hover, .projectCARS a:focus {
    background-color: transparent;
    color: black;
}

.projectNFT a:hover, .projectNFT a:focus {
    background-color: transparent;
    color: white;
}

.projectCARS a {
    background-color: black;
    border: .3rem solid black;
    color: hsl(0, 0%, 95%);
}

.projectNFT a {
    background-color: white;
    border: .3rem solid white;
    color: hsl(217, 54%, 11%);
}

.ending {
    font-size: 2rem;
}

.projectCARS {
    background-color: hsl(0, 0%, 95%);
}
.projectNFT {
    background-color: hsl(217, 54%, 11%);
    color: white;
}

/* LAYOUT */

header {
    margin: 1rem 0;
}

article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 1rem 0;
    border-radius: 1.2rem;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    max-width: 96rem;
}

.about {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

img {
    max-width: 100%;
    object-fit: contain;
    border-radius: inherit;
}

a {
    margin-top: auto;
    padding: 1rem 2rem;
    border-radius: 1rem;
    align-self: flex-end;
}

.ending {
    margin: 1rem 0;
}

@media screen and (max-width: 900px) {
    article {
        grid-template-columns: none;
        grid-template-rows: 1fr auto;
    }
}