* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    color: whitesmoke;
    box-sizing: border-box;
}

.title{
    background-image: linear-gradient(rgba(255,255,255,0) 85%, rgba(255,255,255,1) 99%), url(../images/title-image.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}