/* GLOBAL RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TEXT */

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

h3 {
    text-transform: uppercase;
}

strong {
    font-size: 3rem;
}

a {
    text-decoration: none;
}

/* COLORS */

footer {
   background-color: hsl(192, 100%, 9%);
   color: white;
}

.footerLogo {
    filter: invert(100%) saturate(0%) brightness(200%) contrast(200%);
}

.startButton, button {
    background-color: hsl(322, 100%, 66%);
    color: white;
}

.startButton:hover, .startButton:focus, button:hover, button:focus {
    background-color: hsl(321, 100%, 78%);
}

.tryButton:hover, .tryButton:focus {
    color: hsl(321, 100%, 78%);
}

.tryButton {
    color:hsl(322, 100%, 66%);
    border-color: hsl(322, 100%, 66%);
}

.sectionOdd {
    background-color: hsl(207, 100%, 98%);
}