* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* TEXT */
body {
    font-size: 1.125rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

h1 {
    font-weight: 300;
    font-size: inherit;
}

strong {
    font-weight: 300;
    font-size: 3rem;
}

h2 {
    font-weight: 500;
    font-size: inherit;
}

@media screen and (max-width: 900px) {
    strong {
        font-size: 1.8rem;
        white-space: nowrap;
    }
}
/* COLORS */

body {
    background-color: hsl(226, 43%, 10%);
    color: hsl(236, 100%, 87%);
}

h2,
strong,
.active {
    color: white;
}

.profile img {
    border-color: white;
}

.menu,
.content {
    background-color: hsl(235, 46%, 20%);
}
.profile {
    background-color: hsl(246, 80%, 60%);
}

.content:hover {
    background-color: hsl(235, 45%, 61%);
}

li:hover {
    color: white;
    cursor: pointer;
}

.iconMore:hover {
    filter: brightness(2) contrast(2);
    cursor: pointer;
}

li {
    transition: color .3s;
}

.content {
    transition: background-color .3s;
}

.iconMore {
    transition: filter .3s;
}

.work {
    background: hsl(15, 100%, 70%) url("images/icon-work.svg") no-repeat 90% -0.5rem;
}

.play {
    background: hsl(195, 74%, 62%) url("images/icon-play.svg") no-repeat 90% -0.5rem;
}

.study {
    background: hsl(348, 100%, 68%) url("images/icon-study.svg") no-repeat 90% -0.5rem;
}

.exercise {
    background: hsl(145, 58%, 55%) url("images/icon-exercise.svg") no-repeat 90% top;
}

.social {
    background: hsl(264, 64%, 52%) url("images/icon-social.svg") no-repeat 90% -1rem;
}

.selfCare {
    background: hsl(43, 84%, 65%) url("images/icon-self-care.svg") no-repeat 90% -0.5rem;
}
/* SIZING */

.profile img {
    border-width: .2rem;
    border-radius: 50%;
    border-style: solid;
}

body {
    min-height: 100vh;
}

main {
    max-width: 1200px;
    width: 90%;
}

section,
.content,
.profile {
    border-radius: 1rem;
}

.profile,
.options,
.content {
    padding: 2rem;
}

.profile img {
    width: 6rem;
    margin-bottom: 2rem;
}

.statHeader {
    margin-bottom: 1rem;
}

.content {
    height: 80%;
}

li {
    margin: .5rem 0;
}

@media screen and (max-width: 900px) {
    main {
        max-width: 350px;
    }

    .profile,
    .options,
    .content {
        padding: 1rem 2rem;
    }

    .profile img {
        width: 5rem;
        margin-right: 1rem;
        margin-bottom: 0;
    }

    .statHeader {
        margin-bottom: 2rem;
    }

}

/* LAYOUT */

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}

.menu {
    grid-row: 1 / 3;
}

.statHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li {
    list-style-type: none;
    display: inline-block;
}

.profile img,
.iconMore {
    object-fit: contain;
}

@media screen and (max-width: 900px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
    }

    .flex {
        flex-direction: row;
        align-items: center;
    }

    .menu {
        grid-row: 1;
    }
}